<div class="container-fluid py-5" style="background: linear-gradient(135deg, #CC0000 0%, #FF4444 100%);">
  <div class="container">
    <div class="text-center">
      
      <div class="row justify-content-center mb-5">
        <div class="col-lg-8">
          <div class="card shadow-lg">
            <div class="card-header bg-warning text-dark">
              <h3 class="mb-0">Nombre: {{pokemon.name}}</h3>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-md-6">
                  <img 
                    [src]="pokemon.sprites.other['official-artwork'].front_default"
                    class="img-fluid p-3" 
                    alt="Charizard"
                  >
                </div>

                <div class="col-md-6 text-start">
                  <h4 class="mb-3">Detalles</h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <strong>Número:</strong> #{{ pokemon.id }}
                    </li>
                    <li class="list-group-item">
                      <strong>Tipo:</strong> 
                      <span class="badge bg-danger me-1">{{ pokemon.types[0].type.name }}</span>
                    </li>
                    <li class="list-group-item">
                      <strong>Altura:</strong> {{ pokemon.height/10 }} m
                    </li>
                    <li class="list-group-item">
                      <strong>Peso:</strong> {{ pokemon.weight/10 }} kg
                    </li>
                    <li class="list-group-item">
                      <strong>Habilidades:</strong> {{ pokemon.abilities[0].ability.name + ', ' + pokemon.abilities[1].ability.name }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a class="btn btn-warning btn-lg px-5 py-3 fw-bold text-dark" routerLink="/catalog" routerLinkActive="active">
          Volver al catalogo
        </a>
      </div>
    </div>
  </div>
</div>